# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# mac
.DS_Store

# datasets / outputs (do not push)
*.csv
*.zip
data/
predictions.csv

# model artifacts (do not push)
models/
*.joblib
*.pkl

# env
.env
.venv/
fraud_env/
